{% extends "layout.html" %}
{% block content %}

    <ul>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        <li><a href="{{ url_for('dashboard') }}">Home</a></li>
        <li><a href="{{ url_for('add_category') }}">Category</a></li>
        <li><a href="{{ url_for('create_article') }}">Article</a></li>
    </ul>

    <div class="center">
        <form class="pure-form" method="GET" action="search">
            <input type="text" class="pure-input-rounded" name="query">
            <button type="submit" class="pure-button">Search</button>
        </form>
    </div>

    <div id="layout" class="pure-g">
        <div class="content pure-u-1 pure-u-md-3-4">
            {% for post in posts %}
            <div class="posts">
                <h1 class="content-subhead">{{ post['updated_at'].strftime("%Y-%m-%d %H:%M:%S") }}</h1>

                <section class="post">
                    <header class="post-header">

                        <h2 class="post-title">{{ post['title'] }}</h2>

                        <p class="post-meta">
                            By <a href="#" class="post-author">{{ post['first_name'] }} {{ post['last_name'] }}</a> under <a class="post-category post-category-design" href="#">{{ post['category'] }}</a>
                        </p>
                    </header>

                    <div class="post-description">
                        <p>
                            {{ post['content'] }}
                        </p>
                    </div>
                    <button type="submit" class="pure-button pure-button-primary">Delete</button>
                </section>
            </div>
            {% endfor %}
        </div>
    </div>

    {% endblock content %}
