<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        .center {
            position: absolute;
            margin: auto;
            top: 60px;
            right: 0;
            bottom: 0;
            left: 0;
            width: 400px;
        }

        textarea {
            resize: none;
        }

        form textarea {
            height: 350px;
        }

        select {
            width: 385px;
        }

    </style>

    <title></title>
</head>
<body>

    {% block content %}{% endblock %}

</body>
</html>